


.container{
	display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 980px; /* Adjust width as needed */
    height: 320px; /* Adjust height as needed */
}


.box{
	background-color: #ccc;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
}